body {
  font-family: "Times New Roman", Georgia, Serif;
  margin: 0 auto;
  padding: 50px;
/*  width: 1296px;*/
}

.wrapper {
  margin: 30px 50px 50px 50px;
}

a {
  color: black !important;
  text-decoration: none;
}

.logo {
  border: 3px solid #1A1919;
  border-radius: 50%;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  height: 50px;
  position: relative;
  width: 50px;
}

.logo:hover {
  border: 3px solid #acacac;
  color: #acacac;
}

.logo__letter {
  font-size: 25px;
  font-weight: bold;
  left: 16px;
  position: absolute;
  top: 11px;
}

.header .logo__letter:before {
  content: "A";
}

.header .logo:hover {
  border: 3px solid #1A1919;
  color: #1A1919;
}

.header__nav {
  float: right;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  list-style-type: none;
  margin-top: -4.2%;
}

.header__nav li { display: inline; }

.header__nav li {
  margin-right: 20px;
}

.header__nav a:hover {
  color: #4068FC !important;
  border-bottom: 2px solid #4068FC;
  padding-bottom: 3px;
}

.section {
  clear: both;
  position: relative;
  height: 880px
}

.main-section {
  margin-top: -52px;
}

.time p {
  font-size: 54px;
  margin: 0;
}

.slick-next, .slick-prev {
    z-index: 5;
    top: -120% !important;
    right: 0;
    bottom: 0;
    width: 50% !important;
    height: 600px !important;
    border: none;
    transform: inherit !important;
    -webkit-transform: inherit !important;
    background: transparent;
    -webkit-appearance: none;
    outline: none;
    color: transparent;
}

.slick-prev {
  right: auto;
  left: 0 !important;
  cursor: url(../assets/left-arrow.png), auto !important;
}

.slick-next {
  right: 0 !important;
  left: auto;
  cursor: url(../assets/right-arrow.png), auto !important;
}

.slick-prev:before,
.slick-next:before {
   display:none;
}

.tablet-quote {
  padding-top: 90px
}

.footer {
  margin-top: 650px;
  position: relative;
  float: left;
}

.footer .logo {
  float: right;
}

.footer .footer__time {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
/*  bottom: 50px;*/
  right: 0;
  margin-bottom: 50px !important;
  left: 0;
}

.footer .logo__letter {
  left: 14px;
}

.clock {
  position: absolute;
  top: 270px;
  left: 488px;
  display: none;
}

.about-active .underline {
  border-bottom: 1.5px solid white;
}

.about-active .underline:hover {
  border-bottom: 3px solid white;
}


.titular p{
  font-family: Big Caslon;
  font-size: 36px;
  color: #222222;
}

.close-about {
/*    position: relative;*/
    visibility: hidden;
}

/*.close-about img {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
}

.close-about img:hover {
   background-image: url('assets/Close-Hover.svg');
   cursor: pointer;
}*/

body.about-active {
  color: black;
/*  background-color: black;*/
/*  opacity: .05;*/
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  cursor: url(../assets/close-x.png), auto !important;
}

.about-active a {
  color: white;
}

.about-active .header .logo {
  border: 3px solid white;
  color: white;
}

.about-active .header .logo:hover,
.about-active .footer .logo:hover {
  border: 3px solid #acacac;
  color: #acacac;
}

.about-active .footer .logo {
  visibility: hidden;
  opacity: 0;
  border: 3px solid white;
}

.about-active .time, .about-active .footer__time, .about-active #warped {
  visibility: hidden;
  opacity:0;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.about-active .header__nav a:hover {
  border-bottom: 3px solid white;
}

.about {
/*  font-family: "Times New Roman", Georgia, Serif;
  position: absolute;
  top: 135px;
  width: 1296px;
  visibility: hidden;
  opacity: .95;
  display:none;*/
  cursor: url(../assets/close-x.png), auto !important;
  position: absolute;
  width: 100%;
  height: 110%;
  left: 0px;
  top: 0px;
  opacity: .95;
  background-color: #ffffff;
  display: none;
}

.about h1, h2 {
  text-align: center;
  font-weight: normal;
}

.about h1 {
  font-size: 58px;
}
.about h2 {
  font-size: 36px;
  width: 875px;
  margin: 0 auto;
  line-height: 50px;
  margin-top: 70px;
  margin-bottom: 10px;
}

.about-active .about-text {
/*  visibility: visible;
  opacity: .95;
  color: white;
  display: block;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;*/
cursor: url(../assets/close-x.png), auto !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-centered, .close-about {
  max-height: 880px;
  overflow: hidden;
}

.column {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

.column p {
/*  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 32px;
*/
  font-family: Big Caslon;
  font-size: 25px;
  line-height: 37px;
  letter-spacing: 0;
}

.eastern-link {
  font-weight: bold;
}

.connect {
  margin-top: 60px;
}

.connect h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
}

.connect ul {
  list-style: none;
  text-align: center;
/*  font-family: "Times New Roman", Georgia, Serif;
  font-size: 30px;*/
  padding: 0;
  margin: 0;
}

.connect ul li {
  font-family: Acumin Pro Bold, Helvetica, Arial, sans-serif;
  display: inline-block;
  color: black;
  padding-right: 3%;
/*  padding-left: 3%;*/
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
}

.connect a {
  border-bottom: 1px solid #a5a5a5;
  padding-bottom: 3px;
}

.connect a:hover {
  color: #4068FC !important;
  border-bottom: 2px solid #4068FC;
}

.big-link {
  font-family: Acumin Pro Bold, Helvetica, Arial, sans-serif;
  font-size: 25px;
  color: #A5A5A5;
  line-height: 35px;
  letter-spacing: 0;
  border-bottom: 1px solid #a5a5a5;
  padding-bottom: 2px;
}

.big-link a:hover {
  border-bottom: 2px solid #4068FC;
  color: #4068FC !important;
}

.centered {
  text-align: center;
}

.single-item {
  max-width: 900px;
  max-height: 600px;
  text-align: center;
  margin: 0 auto;
  margin-top: 80px !important;
}

.slide-count {
  font-family:Acumin Pro Bold, Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #a5a5a5;
  line-height: 20px;
  padding-top: 57%;
  margin-right: 0;
/*  position: absolute;*/
  display: block;
  float: right;
  max-width: 900px;
  max-height: 600px;
}

/*.slick-prev:before, .slick-next:before {
    color: black !important;
}

  .slider .slick-prev, .slick-next {
        visibility: hidden;
    }*/


@media screen and (max-width: 768px) {
  #warped {
  display: none;
  }

}

@media screen and (min-width: 769px) {

#warped-mobile {
  visibility: hidden;
}

#warped {
  position: relative;
  display: block;
  z-index: 2;
  visibility: visible;
}

   #warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
                     -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
                     100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

   #warped span{font-family:Acumin Pro Bold, Helvetica, Arial, sans-serif;font-size:15px;
   line-height:25px; font-weight: bold; white-space:pre; overflow:visible; padding:0px; color: #4068FC; letter-spacing: 1px; margin-left: 37.5%; margin-top: -5%;}

                                          #warped .w0 {-moz-transform: rotate(-6.49rad);-webkit-transform: rotate(-6.49rad);-o-transform:
                     rotate(-6.49rad);-ms-transform: rotate(-6.49rad); transform: rotate(-6.49rad);
                     width: 5px; height: 10px; left: 355.83px; top: 134.5px;}

                     #warped .w1 {-moz-transform: rotate(-6.49rad);-webkit-transform: rotate(-6.49rad);-o-transform:
                     rotate(-6.49rad);-ms-transform: rotate(-6.49rad); transform: rotate(-6.49rad);
                     width: 5px; height: 10px; left: 360.47px; top: 133.55px;}

                     #warped .w2 {-moz-transform: rotate(-6.48rad);-webkit-transform: rotate(-6.48rad);-o-transform:
                     rotate(-6.48rad);-ms-transform: rotate(-6.48rad); transform: rotate(-6.48rad);
                     width: 5px; height: 10px; left: 367.34px; top: 132.21px;}

                     #warped .w3 {-moz-transform: rotate(-6.47rad);-webkit-transform: rotate(-6.47rad);-o-transform:
                     rotate(-6.47rad);-ms-transform: rotate(-6.47rad); transform: rotate(-6.47rad);
                     width: 5px; height: 10px; left: 371.86px; top: 131.37px;}

                     #warped .w4 {-moz-transform: rotate(-6.46rad);-webkit-transform: rotate(-6.46rad);-o-transform:
                     rotate(-6.46rad);-ms-transform: rotate(-6.46rad); transform: rotate(-6.46rad);
                     width: 5px; height: 10px; left: 378.57px; top: 130.19px;}

                     #warped .w5 {-moz-transform: rotate(-6.45rad);-webkit-transform: rotate(-6.45rad);-o-transform:
                     rotate(-6.45rad);-ms-transform: rotate(-6.45rad); transform: rotate(-6.45rad);
                     width: 5px; height: 10px; left: 382.98px; top: 129.45px;}

                     #warped .w6 {-moz-transform: rotate(-6.44rad);-webkit-transform: rotate(-6.44rad);-o-transform:
                     rotate(-6.44rad);-ms-transform: rotate(-6.44rad); transform: rotate(-6.44rad);
                     width: 5px; height: 10px; left: 389.53px; top: 128.44px;}

                     #warped .w7 {-moz-transform: rotate(-6.42rad);-webkit-transform: rotate(-6.42rad);-o-transform:
                     rotate(-6.42rad);-ms-transform: rotate(-6.42rad); transform: rotate(-6.42rad);
                     width: 5px; height: 10px; left: 395.97px; top: 127.51px;}

                     #warped .w8 {-moz-transform: rotate(-6.41rad);-webkit-transform: rotate(-6.41rad);-o-transform:
                     rotate(-6.41rad);-ms-transform: rotate(-6.41rad); transform: rotate(-6.41rad);
                     width: 5px; height: 10px; left: 402.33px; top: 126.68px;}

                     #warped .w9 {-moz-transform: rotate(-6.4rad);-webkit-transform: rotate(-6.4rad);-o-transform:
                     rotate(-6.4rad);-ms-transform: rotate(-6.4rad); transform: rotate(-6.4rad);
                     width: 5px; height: 10px; left: 408.58px; top: 125.95px;}

                     #warped .w10 {-moz-transform: rotate(-6.39rad);-webkit-transform: rotate(-6.39rad);-o-transform:
                     rotate(-6.39rad);-ms-transform: rotate(-6.39rad); transform: rotate(-6.39rad);
                     width: 5px; height: 10px; left: 414.75px; top: 125.3px;}

                     #warped .w11 {-moz-transform: rotate(-6.38rad);-webkit-transform: rotate(-6.38rad);-o-transform:
                     rotate(-6.38rad);-ms-transform: rotate(-6.38rad); transform: rotate(-6.38rad);
                     width: 5px; height: 10px; left: 418.8px; top: 124.92px;}

                     #warped .w12 {-moz-transform: rotate(-6.36rad);-webkit-transform: rotate(-6.36rad);-o-transform:
                     rotate(-6.36rad);-ms-transform: rotate(-6.36rad); transform: rotate(-6.36rad);
                     width: 5px; height: 10px; left: 424.81px; top: 124.42px;}

                     #warped .w13 {-moz-transform: rotate(-6.35rad);-webkit-transform: rotate(-6.35rad);-o-transform:
                     rotate(-6.35rad);-ms-transform: rotate(-6.35rad); transform: rotate(-6.35rad);
                     width: 5px; height: 10px; left: 430.72px; top: 124.02px;}

                     #warped .w14 {-moz-transform: rotate(-6.33rad);-webkit-transform: rotate(-6.33rad);-o-transform:
                     rotate(-6.33rad);-ms-transform: rotate(-6.33rad); transform: rotate(-6.33rad);
                     width: 5px; height: 10px; left: 438.47px; top: 123.61px;}

                     #warped .w15 {-moz-transform: rotate(-6.32rad);-webkit-transform: rotate(-6.32rad);-o-transform:
                     rotate(-6.32rad);-ms-transform: rotate(-6.32rad); transform: rotate(-6.32rad);
                     width: 5px; height: 10px; left: 444.17px; top: 123.41px;}

                     #warped .w16 {-moz-transform: rotate(-6.3rad);-webkit-transform: rotate(-6.3rad);-o-transform:
                     rotate(-6.3rad);-ms-transform: rotate(-6.3rad); transform: rotate(-6.3rad);
                     width: 5px; height: 10px; left: 449.78px; top: 123.29px;}

                     #warped .w17 {-moz-transform: rotate(-6.29rad);-webkit-transform: rotate(-6.29rad);-o-transform:
                     rotate(-6.29rad);-ms-transform: rotate(-6.29rad); transform: rotate(-6.29rad);
                     width: 5px; height: 10px; left: 455.3px; top: 123.25px;}

                     #warped .w18 {-moz-transform: rotate(-6.27rad);-webkit-transform: rotate(-6.27rad);-o-transform:
                     rotate(-6.27rad);-ms-transform: rotate(-6.27rad); transform: rotate(-6.27rad);
                     width: 5px; height: 10px; left: 460.73px; top: 123.3px;}

                     #warped .w19 {-moz-transform: rotate(-6.25rad);-webkit-transform: rotate(-6.25rad);-o-transform:
                     rotate(-6.25rad);-ms-transform: rotate(-6.25rad); transform: rotate(-6.25rad);
                     width: 5px; height: 10px; left: 467.84px; top: 123.49px;}

                     #warped .w20 {-moz-transform: rotate(-6.24rad);-webkit-transform: rotate(-6.24rad);-o-transform:
                     rotate(-6.24rad);-ms-transform: rotate(-6.24rad); transform: rotate(-6.24rad);
                     width: 5px; height: 10px; left: 473.07px; top: 123.72px;}

                     #warped .w21 {-moz-transform: rotate(-6.21rad);-webkit-transform: rotate(-6.21rad);-o-transform:
                     rotate(-6.21rad);-ms-transform: rotate(-6.21rad); transform: rotate(-6.21rad);
                     width: 5px; height: 10px; left: 479.91px; top: 124.16px;}

                     #warped .w22 {-moz-transform: rotate(-6.2rad);-webkit-transform: rotate(-6.2rad);-o-transform:
                     rotate(-6.2rad);-ms-transform: rotate(-6.2rad); transform: rotate(-6.2rad);
                     width: 5px; height: 10px; left: 484.94px; top: 124.58px;}

                     #warped .w23 {-moz-transform: rotate(-6.17rad);-webkit-transform: rotate(-6.17rad);-o-transform:
                     rotate(-6.17rad);-ms-transform: rotate(-6.17rad); transform: rotate(-6.17rad);
                     width: 5px; height: 10px; left: 491.51px; top: 125.25px;}

                     #warped .w24 {-moz-transform: rotate(-6.15rad);-webkit-transform: rotate(-6.15rad);-o-transform:
                     rotate(-6.15rad);-ms-transform: rotate(-6.15rad); transform: rotate(-6.15rad);
                     width: 5px; height: 10px; left: 497.94px; top: 126.06px;}

                     #warped .w25 {-moz-transform: rotate(-6.13rad);-webkit-transform: rotate(-6.13rad);-o-transform:
                     rotate(-6.13rad);-ms-transform: rotate(-6.13rad); transform: rotate(-6.13rad);
                     width: 5px; height: 10px; left: 502.66px; top: 126.75px;}

                     #warped .w26 {-moz-transform: rotate(-6.11rad);-webkit-transform: rotate(-6.11rad);-o-transform:
                     rotate(-6.11rad);-ms-transform: rotate(-6.11rad); transform: rotate(-6.11rad);
                     width: 5px; height: 10px; left: 508.83px; top: 127.78px;}

                     #warped .w27 {-moz-transform: rotate(-6.09rad);-webkit-transform: rotate(-6.09rad);-o-transform:
                     rotate(-6.09rad);-ms-transform: rotate(-6.09rad); transform: rotate(-6.09rad);
                     width: 5px; height: 10px; left: 514.85px; top: 128.94px;}

                     #warped .w28 {-moz-transform: rotate(-6.06rad);-webkit-transform: rotate(-6.06rad);-o-transform:
                     rotate(-6.06rad);-ms-transform: rotate(-6.06rad); transform: rotate(-6.06rad);
                     width: 5px; height: 10px; left: 520.74px; top: 130.22px;}

                     #warped .w29 {-moz-transform: rotate(-6.04rad);-webkit-transform: rotate(-6.04rad);-o-transform:
                     rotate(-6.04rad);-ms-transform: rotate(-6.04rad); transform: rotate(-6.04rad);
                     width: 5px; height: 10px; left: 526.48px; top: 131.62px;}

                     #warped .w30 {-moz-transform: rotate(-6rad);-webkit-transform: rotate(-6rad);-o-transform:
                     rotate(-6rad);-ms-transform: rotate(-6rad); transform: rotate(-6rad); width:
                     11px; height: 10px; left: 531.83px; top: 133.94px;}

                     #warped .w31 {-moz-transform: rotate(-5.95rad);-webkit-transform: rotate(-5.95rad);-o-transform:
                     rotate(-5.95rad);-ms-transform: rotate(-5.95rad); transform: rotate(-5.95rad);
                     width: 9px; height: 10px; left: 543.49px; top: 137.42px;}

                     #warped .w32 {-moz-transform: rotate(-5.89rad);-webkit-transform: rotate(-5.89rad);-o-transform:
                     rotate(-5.89rad);-ms-transform: rotate(-5.89rad); transform: rotate(-5.89rad);
                     width: 13px; height: 10px; left: 552.84px; top: 141.86px;}

                     #warped .w33 {-moz-transform: rotate(-5.83rad);-webkit-transform: rotate(-5.83rad);-o-transform:
                     rotate(-5.83rad);-ms-transform: rotate(-5.83rad); transform: rotate(-5.83rad);
                     width: 5px; height: 10px; left: 566.38px; top: 146.23px;}

                     #warped .w34 {-moz-transform: rotate(-5.78rad);-webkit-transform: rotate(-5.78rad);-o-transform:
                     rotate(-5.78rad);-ms-transform: rotate(-5.78rad); transform: rotate(-5.78rad);
                     width: 13px; height: 10px; left: 570.32px; top: 150.38px;}

                     #warped .w35 {-moz-transform: rotate(-5.71rad);-webkit-transform: rotate(-5.71rad);-o-transform:
                     rotate(-5.71rad);-ms-transform: rotate(-5.71rad); transform: rotate(-5.71rad);
                     width: 10px; height: 10px; left: 582.5px; top: 156.78px;}

                     #warped .w36 {-moz-transform: rotate(-5.66rad);-webkit-transform: rotate(-5.66rad);-o-transform:
                     rotate(-5.66rad);-ms-transform: rotate(-5.66rad); transform: rotate(-5.66rad);
                     width: 6px; height: 10px; left: 592.52px; top: 162.29px;}

                     #warped .w37 {-moz-transform: rotate(-5.61rad);-webkit-transform: rotate(-5.61rad);-o-transform:
                     rotate(-5.61rad);-ms-transform: rotate(-5.61rad); transform: rotate(-5.61rad);
                     width: 8px; height: 10px; left: 598.15px; top: 167.37px;}

                     #warped .w38 {-moz-transform: rotate(-5.57rad);-webkit-transform: rotate(-5.57rad);-o-transform:
                     rotate(-5.57rad);-ms-transform: rotate(-5.57rad); transform: rotate(-5.57rad);
                     width: 5px; height: 10px; left: 605.05px; top: 171.91px;}

                     #warped .w39 {-moz-transform: rotate(-5.53rad);-webkit-transform: rotate(-5.53rad);-o-transform:
                     rotate(-5.53rad);-ms-transform: rotate(-5.53rad); transform: rotate(-5.53rad);
                     width: 8px; height: 10px; left: 608.71px; top: 176.61px;}

                     #warped .w40 {-moz-transform: rotate(-5.47rad);-webkit-transform: rotate(-5.47rad);-o-transform:
                     rotate(-5.47rad);-ms-transform: rotate(-5.47rad); transform: rotate(-5.47rad);
                     width: 10px; height: 10px; left: 615px; top: 183.93px;}

                     #warped .w41 {-moz-transform: rotate(-5.4rad);-webkit-transform: rotate(-5.4rad);-o-transform:
                     rotate(-5.4rad);-ms-transform: rotate(-5.4rad); transform: rotate(-5.4rad);
                     width: 15px; height: 10px; left: 621.4px; top: 194.17px;}

                     #warped .w42 {-moz-transform: rotate(-5.34rad);-webkit-transform: rotate(-5.34rad);-o-transform:
                     rotate(-5.34rad);-ms-transform: rotate(-5.34rad); transform: rotate(-5.34rad);
                     width: 4px; height: 10px; left: 633px; top: 202.16px;}

                     #warped .w43 {-moz-transform: rotate(-5.3rad);-webkit-transform: rotate(-5.3rad);-o-transform:
                     rotate(-5.3rad);-ms-transform: rotate(-5.3rad); transform: rotate(-5.3rad);
                     width: 9px; height: 10px; left: 634.9px; top: 208.54px;}

                     #warped .w44 {-moz-transform: rotate(-5.25rad);-webkit-transform: rotate(-5.25rad);-o-transform:
                     rotate(-5.25rad);-ms-transform: rotate(-5.25rad); transform: rotate(-5.25rad);
                     width: 9px; height: 10px; left: 640.15px; top: 216.93px;}

                     #warped .w45 {-moz-transform: rotate(-5.21rad);-webkit-transform: rotate(-5.21rad);-o-transform:
                     rotate(-5.21rad);-ms-transform: rotate(-5.21rad); transform: rotate(-5.21rad);
                     width: 5px; height: 10px; left: 646.44px; top: 224.54px;}

                     #warped .w46 {-moz-transform: rotate(-5.17rad);-webkit-transform: rotate(-5.17rad);-o-transform:
                     rotate(-5.17rad);-ms-transform: rotate(-5.17rad); transform: rotate(-5.17rad);
                     width: 8px; height: 10px; left: 648.41px; top: 231.3px;}

                     #warped .w47 {-moz-transform: rotate(-5.13rad);-webkit-transform: rotate(-5.13rad);-o-transform:
                     rotate(-5.13rad);-ms-transform: rotate(-5.13rad); transform: rotate(-5.13rad);
                     width: 10px; height: 10px; left: 651.52px; top: 240.11px;}

                     #warped .w48 {-moz-transform: rotate(-5.09rad);-webkit-transform: rotate(-5.09rad);-o-transform:
                     rotate(-5.09rad);-ms-transform: rotate(-5.09rad); transform: rotate(-5.09rad);
                     width: 10px; height: 10px; left: 655.61px; top: 250px;}

                     #warped .w49 {-moz-transform: rotate(-5.05rad);-webkit-transform: rotate(-5.05rad);-o-transform:
                     rotate(-5.05rad);-ms-transform: rotate(-5.05rad); transform: rotate(-5.05rad);
                     width: 9px; height: 10px; left: 659.74px; top: 259.98px;}

                     #warped .w50 {-moz-transform: rotate(-5.01rad);-webkit-transform: rotate(-5.01rad);-o-transform:
                     rotate(-5.01rad);-ms-transform: rotate(-5.01rad); transform: rotate(-5.01rad);
                     width: 5px; height: 10px; left: 664.33px; top: 267.99px;}


}

@media screen and (min-width: 481px) and (max-width: 1023px) {

  #warped-mobile, #warped {
    visibility: hidden;
  }

}

/* MEDIA QUERIES */

/*@media screen and (max-width: 1023px) {

  #warped-mobile {
  visibility: visible;
  font-family:Acumin Pro Bold, Helvetica, Arial, sans-serif;
  font-size:12px;
  line-height:25px;
  font-weight: bold;
  color: #4068FC;
  margin-top: 100%;
  }

}*/


@media screen and (min-width: 1248px) {

  .slide-count {
    padding-top: 570px;
    margin-right: 11.5%;
  }

}

@media screen and (min-width: 40em) and (max-width: 1247px) {

  .slide-count {
    padding-top: 62%;
    margin-right: 0;
  }

  .about {
    height: 108%;
  }


}

@media screen and (min-width: 40em) and (max-width: 1022px) {

  .about {
    height: 109%;
  }


}

@media screen and (min-width: 1023px) and (max-width: 1247px) {

  .about {
    height: 110%;
  }


}

@media screen and (min-width: 1024px) {

/*  .slider .slick-prev, .slick-next {
        visibility: hidden;
    }*/
/*    .slider:hover .slick-arrow {
            display:block !important;
    }*/


/*  .slick-prev {
    left: -75px !important;
    top: 300px !important;
    width: 100px !important;
  }

  .slick-next {
    right: -75px !important;
    top: 300px !important;
    width: 100px !important;
  }*/



}


@media screen and (min-width: 40em) and (max-width: 1023px) {

/*  .slick-prev {


  .header__nav {
    margin-right: -2.5%;
  }

  .slick-prev {

    left: -75px !important;
    top: 210px !important;
    width: 100px !important;
  }

  .slick-next {
    right: -75px !important;
    top: 210px !important;
    width: 100px !important;
  }*/

  .footer__time {
    font-size: 14px !important;
    margin-left: -30px;
  }

  .footer {
    margin-top: 68%;
  }
}

@media screen and (max-width: 39.9375em) {
  .titular p{
    font-size: 28px;
  }

  .header__nav {
    font-size: 12px;
    margin-right: -7%;
  }

  .main-section {
    margin-top: -80px;
  }

  .footer {
    margin-top: 68%;
  }

  .footer__time {
    font-size: 12px !important;
    margin-left: -30px;
  }

  .about-text {
    text-align: center;
  }

  .close-about {
    position: relative;
    visibility: visible !important;
  }

  .close-about img {
      position: absolute;
      top: 30px;
      right: 30px;
      height: 30px;
  }

  .close-about img:hover {
     background-image: url('assets/Close-Hover.svg');
     cursor: pointer;
  }


  .column {
    width: 152% !important;
    margin-left: -25% !important;
    text-align: left;
  }

  .column p, .big-link {
    font-size: 15px;
    line-height: 28px;
  }

  .connect ul li {
    font-size: 14px;
  }

  .slide-count {
    font-size: 11px;
  }

/*  .slick-prev {
    top: 85px !important;
  }

  .slick-next {
    top: 85px !important;
  }*/

/*  body {
    overflow: hidden;
  }*/

}

@media screen and (min-width: 1024px) and (max-width: 1079px) {
  .header__nav {
    margin-right: 0;
  }

  .titular p {
    margin-left: 2%;
  }

}

@media only screen and (max-width: 480px) {

  .header__nav {
    float: none;
    margin-left: 0;
    margin-bottom: 80px;
  }

  .titular p{
    font-size: 28px;
  }

  .footer .footer__time {
  -ms-transform: initial;
  -webkit-transform: initial;
  transform: initial;
  margin-left: 0;
  }

  .footer {
    margin-top: -1%;
  }

  #warped-mobile {
  visibility: visible;
  font-family:Acumin Pro Bold, Helvetica, Arial, sans-serif;
  font-size:12px;
  line-height:25px;
  font-weight: bold;
  color: #4068FC;
  margin-top: 100%;
  }

  #warped-mobile p {
    margin-bottom: 0;
  }

  .connect ul li {
    display: block;
  }

}


