body {
  font-family: "Times New Roman", Georgia, Serif;
  margin: 0 auto;
  padding: 50px;
/*  width: 1296px;*/
}

.wrapper {
  margin: 40px 50px 50px 50px;
}

a {
  color: black !important;
  text-decoration: none;
}

.logo {
  border: 3px solid #1A1919;
  border-radius: 50%;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  height: 50px;
  position: relative;
  width: 50px;
}

.logo:hover {
  border: 3px solid #acacac;
  color: #acacac;
}

.logo__letter {
  font-size: 25px;
  font-weight: bold;
  left: 16px;
  position: absolute;
  top: 11px;
}

.header .logo__letter:before {
  content: "A";
}

.header .logo:hover {
  border: 3px solid #1A1919;
  color: #1A1919;
}

.header__nav {
  float: right;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  list-style-type: none;
  margin-top: -4.2%;
}

.header__nav li { display: inline; }

.header__nav li {
  margin-right: 20px;
}

.header__nav a:hover {
  color: #4068FC !important;
  border-bottom: 2px solid #4068FC;
  padding-bottom: 3px;
}

.section {
  clear: both;
  position: relative;
  height: 880px
}

.time p {
  font-size: 54px;
  margin: 0;
}

/*p.text-one {
  top: 70px;
  left: 110px;
  position: absolute;
}

p.text-two {
  top: 416px;
  left: 784px;
  position: absolute;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 52%;
}

p.text-three {
  top: 760px;
  left: -201px;
  position: absolute;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 100%;
}

p.text-four {
  top: 87px;
  left: -464px;
  position: absolute;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 100%;
}

p.text-five {
  top: 194px;
  left: 210px;
  position: absolute;
  width: 60%;
}

p.text-six {
  top: 426px;
  left: 787px;
  position: absolute;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

p.text-seven {
  top: 639px;
  left: -335px;
  position: absolute;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 100%;
}

p.text-eight {
  top: -41px;
  left: -291px;
  position: absolute;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 100%;
}

p.text-nine {
  top: 305px;
  left: 380px;
  position: absolute;
}

p.text-ten {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  left: 663px;
  top: 530px;
}*/

.tablet-quote {
  padding-top: 90px
}

.footer {
  margin-top: 675px;
  margin-bottom: 50px !important;
  padding-bottom: 50px !important;
}

.footer .logo {
  float: right;
}

.footer .footer__time {
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);

}

.footer .logo__letter {
  left: 14px;
}

.clock {
  position: absolute;
  top: 270px;
  left: 488px;
  display: none;
}

/*.quote-block {
  display: none;
  left: 790px;
  position: absolute;
  top: 705px;
}

.quote-block.show {
  display: block;
}

.quote-link.close .logo__letter {
  top: 11px;
  left: 16px;
}

.quote-link .logo__letter:before {
  content: "M";
}

.quote-link.close .logo__letter:before {
  content: "X";
}

.home-link.close .logo__letter:before {
  content: "X";
}*/

.about-active .underline {
  border-bottom: 1.5px solid white;
}

.about-active .underline:hover {
  border-bottom: 3px solid white;
}

/*.quote-block__dropshadow {
  width: 431px;
  height: 146px;
  display: block;
  border: 2px solid #1A1919;
  position: absolute;
  top: 10px;
  left: 10px;
}*/

.titular p{
  font-family: Big Caslon;
  font-size: 36px;
  color: #222222;
}

/*.quote-block__background {
  background: #1A1919;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 50px;
  line-height: 26px;
  text-align: center;
  width: 337px;
}*/

.close-about {
    position: relative;
}

.close-about img {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
}

.close-about img:hover {
   background-image: url('assets/Close-Hover.svg');
   cursor: pointer;
}

body.about-active {
  color: black;
/*  background-color: black;*/
/*  opacity: .05;*/
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.about-active a {
  color: white;
}

.about-active .header .logo {
  border: 3px solid white;
  color: white;
}

.about-active .header .logo:hover,
.about-active .footer .logo:hover {
  border: 3px solid #acacac;
  color: #acacac;
}

.about-active .footer .logo {
  visibility: hidden;
  opacity: 0;
  border: 3px solid white;
}

.about-active .time, .about-active .footer__time, .about-active #warped {
  visibility: hidden;
  opacity:0;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.about-active .header__nav a:hover {
  border-bottom: 3px solid white;
}

.about {
/*  font-family: "Times New Roman", Georgia, Serif;
  position: absolute;
  top: 135px;
  width: 1296px;
  visibility: hidden;
  opacity: .95;
  display:none;*/

  position: absolute;
  width: 100%;
  height: 105%;
  left: 0px;
  top: 0px;
  opacity: .95;
  background-color: #ffffff;
  display: none;
}

.about h1, h2 {
  text-align: center;
  font-weight: normal;
}

.about h1 {
  font-size: 58px;
}
.about h2 {
  font-size: 36px;
  width: 875px;
  margin: 0 auto;
  line-height: 50px;
  margin-top: 70px;
  margin-bottom: 10px;
}

.about-active .about-text {
/*  visibility: visible;
  opacity: .95;
  color: white;
  display: block;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;*/

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.column {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

.column p {
/*  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 32px;
*/
  font-family: Big Caslon;
  font-size: 25px;
  line-height: 37px;
  letter-spacing: 0;
}

.eastern-link {
  font-weight: bold;
}

/*.buttons {
  width: 434px;
  margin: 30px auto;
}

.button {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 50px;
}

.button:first-child {
  margin-right: 30px;
}

.button__dropshadow {
  width: 200px;
  height: 50px;
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  background: white;
  z-index: 0;
}

.button__background {
  background: #1A1919;
  border: 2px solid white;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  line-height: 26px;
  text-align: center;
  width: 176px;
  position: absolute;
  z-index: 1;
}

.button:hover .button__dropshadow{
  bacgkround: black;
}

.button:hover .button__background {
  background: white;
  border: 2px solid black;
  color: black;
}*/

.connect {
  margin-top: 60px;
}

.connect h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
}

.connect ul {
  list-style: none;
  text-align: center;
/*  font-family: "Times New Roman", Georgia, Serif;
  font-size: 30px;*/
  padding: 0;
  margin: 0;
}

.connect ul li {
  font-family: Acumin Pro Bold, Helvetica, Arial, sans-serif;
  display: inline-block;
  color: black;
  padding-right: 3%;
/*  padding-left: 3%;*/
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}

.connect a {
  border-bottom: 1px solid #a5a5a5;
  padding-bottom: 3px;
}

.connect a:hover {
  color: #4068FC !important;
  border-bottom: 2px solid #4068FC;
}

.big-link {
  font-family: Acumin Pro Bold, Helvetica, Arial, sans-serif;
  font-size: 25px;
  color: #A5A5A5;
  line-height: 35px;
  letter-spacing: 0;
  border-bottom: 1px solid #a5a5a5;
  padding-bottom: 2px;
}

.big-link a:hover {
  border-bottom: 2px solid #4068FC;
  color: #4068FC !important;
}

/*.copyright {
  font-family: Helvetica, Arial, sans-serif;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 18px;
  position: absolute;
  left: -95px;
  bottom: 100px;
  font-weight: bold;
}*/

/*.show-for-desktop {
  display: block;
}

.show-for-mobile {
  display: none;
}

.show-for-tablet {
  display: none;
}*/

.centered {
  text-align: center;
}

/*.text-mobile {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px !important;
  font-weight: bold;

}

.hide-for-desktop {
  display: none;
}*/

.single-item {
  max-width: 900px;
  max-height: 600px;
  text-align: center;
  margin: 0 auto;
  margin-top: 80px !important;
}

.slide-count {
  font-family:Acumin Pro Bold, Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #a5a5a5;
  line-height: 20px;
  padding-top: 58%;
  float: right;
  margin-right: 1%;
  position: relative;
  display: block;
}

.slick-prev:before, .slick-next:before {
    color: black !important;
}

#warped {
  display: none;
}


@media screen and (min-width: 64em) {

#warped {
  position: relative;
  display: block;
  z-index: 2;
  visibility: visible;
}

   #warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
   -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
   100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

   #warped span{font-family:Acumin Pro Bold, Helvetica, Arial, sans-serif;font-size:15px;
   line-height:25px; font-weight: bold; white-space:pre; overflow:visible; padding:0px; color: #4068FC; letter-spacing: 0; margin-left: 46%; margin-top: 10%;}

   #warped .w0 {-moz-transform: rotate(0.06rad);-webkit-transform: rotate(0.06rad);-o-transform:
   rotate(0.06rad);-ms-transform: rotate(0.06rad); transform: rotate(0.06rad);
   width: 5px; height: 9px; left: 362.53px; top: 27.58px;}

   #warped .w1 {-moz-transform: rotate(0.1rad);-webkit-transform: rotate(0.1rad);-o-transform:
   rotate(0.1rad);-ms-transform: rotate(0.1rad); transform: rotate(0.1rad);
   width: 5px; height: 9px; left: 372.49px; top: 28.46px;}

   #warped .w2 {-moz-transform: rotate(0.14rad);-webkit-transform: rotate(0.14rad);-o-transform:
   rotate(0.14rad);-ms-transform: rotate(0.14rad); transform: rotate(0.14rad);
   width: 5px; height: 9px; left: 382.41px; top: 29.74px;}

   #warped .w3 {-moz-transform: rotate(0.18rad);-webkit-transform: rotate(0.18rad);-o-transform:
   rotate(0.18rad);-ms-transform: rotate(0.18rad); transform: rotate(0.18rad);
   width: 5px; height: 9px; left: 392.27px; top: 31.41px;}

   #warped .w4 {-moz-transform: rotate(0.22rad);-webkit-transform: rotate(0.22rad);-o-transform:
   rotate(0.22rad);-ms-transform: rotate(0.22rad); transform: rotate(0.22rad);
   width: 5px; height: 9px; left: 402.05px; top: 33.48px;}

   #warped .w5 {-moz-transform: rotate(0.28rad);-webkit-transform: rotate(0.28rad);-o-transform:
   rotate(0.28rad);-ms-transform: rotate(0.28rad); transform: rotate(0.28rad);
   width: 11px; height: 9px; left: 411.63px; top: 36.74px;}

   #warped .w6 {-moz-transform: rotate(0.33rad);-webkit-transform: rotate(0.33rad);-o-transform:
   rotate(0.33rad);-ms-transform: rotate(0.33rad); transform: rotate(0.33rad);
   width: 8px; height: 9px; left: 426.94px; top: 41.16px;}

   #warped .w7 {-moz-transform: rotate(0.39rad);-webkit-transform: rotate(0.39rad);-o-transform:
   rotate(0.39rad);-ms-transform: rotate(0.39rad); transform: rotate(0.39rad);
   width: 12px; height: 9px; left: 438.93px; top: 46.55px;}

   #warped .w8 {-moz-transform: rotate(0.45rad);-webkit-transform: rotate(0.45rad);-o-transform:
   rotate(0.45rad);-ms-transform: rotate(0.45rad); transform: rotate(0.45rad);
   width: 5px; height: 9px; left: 454.73px; top: 52.12px;}

   #warped .w9 {-moz-transform: rotate(0.5rad);-webkit-transform: rotate(0.5rad);-o-transform:
   rotate(0.5rad);-ms-transform: rotate(0.5rad); transform: rotate(0.5rad);
   width: 12px; height: 9px; left: 463.21px; top: 58.35px;}

   #warped .w10 {-moz-transform: rotate(0.56rad);-webkit-transform: rotate(0.56rad);-o-transform:
   rotate(0.56rad);-ms-transform: rotate(0.56rad); transform: rotate(0.56rad);
   width: 9px; height: 9px; left: 478.02px; top: 66.28px;}

   #warped .w11 {-moz-transform: rotate(0.61rad);-webkit-transform: rotate(0.61rad);-o-transform:
   rotate(0.61rad);-ms-transform: rotate(0.61rad); transform: rotate(0.61rad);
   width: 6px; height: 9px; left: 489.89px; top: 73.26px;}

   #warped .w12 {-moz-transform: rotate(0.66rad);-webkit-transform: rotate(0.66rad);-o-transform:
   rotate(0.66rad);-ms-transform: rotate(0.66rad); transform: rotate(0.66rad);
   width: 8px; height: 9px; left: 498.5px; top: 80.45px;}

   #warped .w13 {-moz-transform: rotate(0.71rad);-webkit-transform: rotate(0.71rad);-o-transform:
   rotate(0.71rad);-ms-transform: rotate(0.71rad); transform: rotate(0.71rad);
   width: 5px; height: 9px; left: 508.87px; top: 87.76px;}

   #warped .w14 {-moz-transform: rotate(0.75rad);-webkit-transform: rotate(0.75rad);-o-transform:
   rotate(0.75rad);-ms-transform: rotate(0.75rad); transform: rotate(0.75rad);
   width: 7px; height: 9px; left: 516.03px; top: 95.13px;}

   #warped .w15 {-moz-transform: rotate(0.8rad);-webkit-transform: rotate(0.8rad);-o-transform:
   rotate(0.8rad);-ms-transform: rotate(0.8rad); transform: rotate(0.8rad);
   width: 9px; height: 9px; left: 524.26px; top: 104.29px;}

   #warped .w16 {-moz-transform: rotate(0.87rad);-webkit-transform: rotate(0.87rad);-o-transform:
   rotate(0.87rad);-ms-transform: rotate(0.87rad); transform: rotate(0.87rad);
   width: 14px; height: 9px; left: 532.75px; top: 116.59px;}

   #warped .w17 {-moz-transform: rotate(0.93rad);-webkit-transform: rotate(0.93rad);-o-transform:
   rotate(0.93rad);-ms-transform: rotate(0.93rad); transform: rotate(0.93rad);
   width: 4px; height: 9px; left: 546.43px; top: 127.58px;}

   #warped .w18 {-moz-transform: rotate(0.97rad);-webkit-transform: rotate(0.97rad);-o-transform:
   rotate(0.97rad);-ms-transform: rotate(0.97rad); transform: rotate(0.97rad);
   width: 9px; height: 9px; left: 550.59px; top: 136.95px;}

   #warped .w19 {-moz-transform: rotate(1.03rad);-webkit-transform: rotate(1.03rad);-o-transform:
   rotate(1.03rad);-ms-transform: rotate(1.03rad); transform: rotate(1.03rad);
   width: 9px; height: 9px; left: 558.1px; top: 148.76px;}

   #warped .w20 {-moz-transform: rotate(1.08rad);-webkit-transform: rotate(1.08rad);-o-transform:
   rotate(1.08rad);-ms-transform: rotate(1.08rad); transform: rotate(1.08rad);
   width: 5px; height: 9px; left: 566.01px; top: 159.21px;}

   #warped .w21 {-moz-transform: rotate(1.12rad);-webkit-transform: rotate(1.12rad);-o-transform:
   rotate(1.12rad);-ms-transform: rotate(1.12rad); transform: rotate(1.12rad);
   width: 7px; height: 9px; left: 569.98px; top: 169.02px;}

   #warped .w22 {-moz-transform: rotate(1.17rad);-webkit-transform: rotate(1.17rad);-o-transform:
   rotate(1.17rad);-ms-transform: rotate(1.17rad); transform: rotate(1.17rad);
   width: 9px; height: 9px; left: 574.28px; top: 180.89px;}

   #warped .w23 {-moz-transform: rotate(1.23rad);-webkit-transform: rotate(1.23rad);-o-transform:
   rotate(1.23rad);-ms-transform: rotate(1.23rad); transform: rotate(1.23rad);
   width: 9px; height: 9px; left: 579.3px; top: 193.95px;}

   #warped .w24 {-moz-transform: rotate(1.28rad);-webkit-transform: rotate(1.28rad);-o-transform:
   rotate(1.28rad);-ms-transform: rotate(1.28rad); transform: rotate(1.28rad);
   width: 9px; height: 9px; left: 583.58px; top: 207.28px;}

   #warped .w25 {-moz-transform: rotate(1.33rad);-webkit-transform: rotate(1.33rad);-o-transform:
   rotate(1.33rad);-ms-transform: rotate(1.33rad); transform: rotate(1.33rad);
   width: 5px; height: 9px; left: 588.65px; top: 218.88px;}

}

@media screen and (min-width: 1248px) {

  .slide-count {
    padding-top: 575px;
    margin-right: 11.5%;
  }

}

@media screen and (min-width: 40em) and (max-width: 1247px) {

  .slide-count {
    padding-top: 62%;
    margin-right: 5%;
  }

  .about {
    height: 106%;
  }

  .footer__time {
    font-size: 14px !important;
    margin-left: -30px;
  }

  .footer {
    margin-top: 71%;
  }

}

@media screen and (min-width: 1024px) {
  .slick-prev {
    left: -75px !important;
    top: 300px !important;
    width: 100px !important;
  }

  .slick-next {
    right: -75px !important;
    top: 300px !important;
    width: 100px !important;
  }
}


@media screen and (min-width: 40em) and (max-width: 1023px) {
  .slick-prev {
    left: -75px !important;
    top: 210px !important;
    width: 100px !important;
  }

  .slick-next {
    right: -75px !important;
    top: 210px !important;
    width: 100px !important;
  }
}

@media screen and (max-width: 39.9375em) {
  .titular p{
    font-size: 28px;
  }

  .header__nav {
    font-size: 12px;
    margin-right: -7%;
  }

  .main-section {
    margin-top: -80px;
  }

  .footer {
    margin-top: 80%;
  }

  .footer__time {
    font-size: 12px !important;
    margin-left: -30px;
  }

  .about-text {
    text-align: center;
  }

  .column {
    width: 152% !important;
    margin-left: -25% !important;
    text-align: center;
  }

  .column p, .big-link {
    font-size: 14px;
  }

  .slick-prev {
    top: 85px !important;
  }

  .slick-next {
    top: 85px !important;
  }

/*  body {
    overflow: hidden;
  }*/

}


